# Unify Shiva Deore's committer identities into the canonical name + email.
# Format: Proper Name <proper@email>  Commit Name <commit@email>
Shiva Deore <shiva.deore111@gmail.com> <shiva@taracod.com>
Shiva Deore <shiva.deore111@gmail.com> <shiva@aiden.local>
Shiva Deore <shiva.deore111@gmail.com> shivayxa <shiva.deore111@gmail.com>
Shiva Deore <shiva.deore111@gmail.com> shivadeore111-design <shiva.deore111@gmail.com>
Shiva Deore <shiva.deore111@gmail.com> shivadeore111-design <shivadeore111@gmail.com>
